@tailwind base;
@tailwind components;
@tailwind utilities;

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mainAppDiv{
    overflow:hidden;
}
.picture{
    margin-left: 21rem;
    
}
.roboto-mono-kp {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* styles.css */
.checkbox-custom {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: #b15656;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.checkbox-custom:checked {
    background: #2196f3;
}

.checkbox-custom:checked:after {
    content: '\2714';
    /* Unicode checkmark character */
    font-size: 14px;
    color: #117ebe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}